@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #f3b600d2, #ff5500);
    }

    section#login {
        width: 85vw;
        height: 300px;
    }

    section#login>div#imagem {
        float: left;
        width: 35%;
        height: 100%;
    }

    section#login>div#formulario {
        float: right;
        width: 65%;
    }

    div#formulario>p {
        font-size: 1em;
    }

    div#formulario>h1 {
        font-size: 1.6em;
    }

    .inputs {
        padding-left: 6px;
        padding-right: 3px;
        width: 89.5%;
        width: calc(100% - 45px);
    }

    #entrar {
        width: 100%;
    }

    #esqueciS {
        display: block;
        padding: 8px;
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #f3b600d2, #ff5500);
    }

    section#login {
        width: 990px;
        height: 380px;
    }

    section#login>div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login>div#formulario {
        float: left;
        width: 50%;
        margin-top: 3px;
    }

    div#formulario>p {
        margin-top: 17px;
        font-size: 1.2em;
    }

    div#formulario>h1 {
        font-size: 1.5em;
        font-weight: bolder;
        font-size: 2em;
    }

    input#entrar {
        height: 45px;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    a#esqueciS {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        margin-top: 3px;
    }


    input.inputs {
        width: 91%;
        width: calc(100% - 45px);
    }

    div.campo {
        margin-top: 8px;
        height: 38.91px;
    }

    div#formulario > p {
        margin-bottom: 17px;
    }
}